main.aux
main.bbl
main.blg
main.docx
main.fff
main.lof
main.log
main.out
main.pdf
main.rtf
main.synctex.gz
supplementary_methods.aux
supplementary_methods.bbl
supplementary_methods.blg
supplementary_methods.log
supplementary_methods.pdf
supplementary_methods.synctex.gz
supplementary_results.aux
supplementary_results.log
supplementary_results.pdf
supplementary_results.synctex.gz
figures
ideal_yield.png
notes_etc
main.lot
main.ttt
supplementary_methods.fff
supplementary_methods.lof
cover_letter.docx
